# LXC tasks used to manage lxc host

- name: Install LXC packages
  ansible.builtin.apt:
    pkg: "{{ lxc_host_debs }}"
    state: present
    update_cache: yes

- name: Configure LXC service
  ansible.builtin.template:
    src: lxc_host.conf.j2
    dest: /etc/lxc/lxc.conf
    owner: root
    group: root

- name: Configure Defaults for LXC service
  ansible.builtin.template:
    src: lxc_host_default.conf.j2
    dest: /etc/lxc/default.conf
    owner: root
    group: root

- name: Configure IPv4 forwarding
  ansible.builtin.copy:
    content: 'net.ipv4.ip_forward=1'
    dest: /etc/sysctl.d/99-lxc_forwarding.conf

- name: Enable IPv4 forwarding
  ansible.builtin.command: sudo sysctl -w net.ipv4.ip_forward=1
