---
# files needed to manage containers

- name: Check if LXC container exists
  delegate_to: "{{ lxc_host }}"
  register: lxc_container_stat
  stat:
    path: "{{ lxc_host_lxc_path }}/{{ lxc_container_name }}"

- name: Set fact whether container exists
  set_fact:
    lxc_container_exists: "{{ lxc_container_stat.stat.exists }}"
  delegate_to: "{{ lxc_host }}"

- name: Ensure container exists
  command: >
    lxc-create -n {{ lxc_container_name }} -t {{ lxc_container_template }} -- -r {{ lxc_container_release }}
  args:
    creates: "{{ lxc_host_lxc_path }}/{{ lxc_container_name }}"
  delegate_to: "{{ lxc_host }}"
  when: not lxc_container_exists|bool

- name: Check if LXC container exists
  stat:
    path: "{{ lxc_host_lxc_path }}/{{ lxc_container_name }}"
  register: lxc_container_stat
  delegate_to: "{{ lxc_host }}"

- name: Set fact whether container exists
  set_fact:
    lxc_container_exists: "{{ lxc_container_stat.stat.exists }}"
  delegate_to: "{{ lxc_host }}"

- name: Ensure interfaces.d exist
  file: path="{{ lxc_host_lxc_path }}/{{ lxc_container_name }}//etc/network/interfaces.d"  state=directory
  delegate_to: "{{ lxc_host }}"
  when: lxc_container_exists|bool

- name: Ensure interface are configured
  template: src=interface_entry.j2 dest="{{ lxc_host_lxc_path }}/{{ lxc_container_name }}/rootfs/etc/network/interfaces.d/if-{{item.name}}"
  with_items: "{{ lxc_network_interfaces }}"
  delegate_to: "{{ lxc_host }}"
  when: lxc_container_exists|bool

- name: Ensure /etc/network/interface are configured
  when: lxc_container_exists|bool
  delegate_to: "{{ lxc_host }}" 
  template: src=interfaces.j2 dest="{{ lxc_host_lxc_path }}/{{ lxc_container_name }}/rootfs/etc/network/interfaces" backup=yes

- name: Ensure container is {{ lxc_container_state }}
  delegate_to: "{{ lxc_host }}"
  when: lxc_container_exists|bool and lxc_container_state == 'started'
  command: >
    lxc-start -n {{ lxc_container_name }}

- name: Run a command in the container
  delegate_to: "{{ lxc_host }}"
  when: lxc_container_state == 'started' and lxc_container_exists|bool
  command: >
    lxc-attach -n {{ lxc_container_name }} -- id

- name: Update apt cache
  command: >
    lxc-attach -n {{ lxc_container_name }} -- apt-get update
  delegate_to: "{{ lxc_host }}"
  when: lxc_container_state == 'started' and lxc_container_exists|bool

- name: Install python in the container
  when: lxc_container_state == 'started' and lxc_container_exists|bool
  delegate_to: "{{ lxc_host }}"
  command: >
    lxc-attach -n {{ lxc_container_name }} -- apt-get install python3 -y

- name: Install sudo in the container
  when: lxc_container_state == 'started' and lxc_container_exists|bool
  delegate_to: "{{ lxc_host }}"
  command: >
    lxc-attach -n {{ lxc_container_name }} -- apt-get install sudo -y

- name: Install cron in the container
  when: lxc_container_state == 'started' and lxc_container_exists|bool
  delegate_to: "{{ lxc_host }}"
  command: >
    lxc-attach -n {{ lxc_container_name }} -- apt-get install cron -y

- name: Check if system user exists inside LXC container
  when: lxc_container_state == 'started' and lxc_container_exists|bool
  ignore_errors: true
  delegate_to: "{{ lxc_host }}"
  register: lxc_user_check
  command: >
    lxc-attach -n {{ lxc_container_name }} -- id -u {{ lxc_system_user }}

- name: Set fact whether system user exists
  set_fact:
    lxc_system_user_exists: "{{ lxc_user_check.rc == 0 }}"

- name: create system groups in container
  when: lxc_container_state == 'started' and lxc_container_exists|bool and not lxc_system_user_exists
  delegate_to: "{{ lxc_host }}"
  with_items: lxc_system_groups
  command: >
    lxc-attach -n {{ lxc_container_name }} -- groupadd -r {{ item['name'] }} -g {{ item['gid'] }}

- name: create group for {{ lxc_system_user }}
  when: lxc_container_state == 'started' and lxc_container_exists|bool and not lxc_system_user_exists
  delegate_to: "{{ lxc_host }}"
  command: >
    lxc-attach -n {{ lxc_container_name }} -- groupadd -r {{ lxc_system_user }} -g {{ lxc_system_user_gid }}

- name: create user {{ lxc_system_user }}
  when: lxc_container_state == 'started' and lxc_container_exists|bool and not lxc_system_user_exists
  delegate_to: "{{ lxc_host }}"
  command: >
    lxc-attach -n {{ lxc_container_name }} -- useradd -m -r {{ lxc_system_user }} -p {{ lxc_system_user_password }} -g {{ lxc_system_user_gid }} -u {{ lxc_system_user_uid }}

- name: Add {{ lxc_system_user }} to sudo group
  when: lxc_container_state == 'started' and lxc_container_exists|bool and not lxc_system_user_exists
  delegate_to: "{{ lxc_host }}"
  command: >
    lxc-attach -n {{ lxc_container_name }} --  usermod -aG sudo,{{ lxc_system_groups | map(attribute='name') | join(',') }} {{ lxc_system_user }}

- name: Add create ssh folder {{ lxc_system_user }}
  delegate_to: "{{ lxc_host }}"
  when: lxc_container_state == 'started' and lxc_container_exists|bool and not lxc_system_user_exists
  command: >
    lxc-attach -n {{ lxc_container_name }} -- mkdir /home/{{ lxc_system_user }}/.ssh/

- name: fix ssh folder {{ lxc_system_user }} permission
  command: >
    lxc-attach -n {{ lxc_container_name }} --  chown {{ lxc_system_user }}:{{ lxc_system_user }} /home/{{ lxc_system_user }}/.ssh/
  delegate_to: "{{ lxc_host }}"
  when: lxc_container_state == 'started' and lxc_container_exists|bool and not lxc_system_user_exists

- name: Save authorized ssh key
  copy:
    dest: "{{ lxc_host_lxc_path }}/{{ lxc_container_name }}/rootfs/home/{{ lxc_system_user }}/.ssh/authorized_keys"
    content: "{{ lxc_system_user_ssh_authorized_keys }}"
    owner: root
    group: root
    mode: '0640'
  when: lxc_container_exists|bool
  delegate_to: "{{ lxc_host }}"

- name: configure sudo for {{ lxc_system_user }}
  copy:
    dest: "{{ lxc_host_lxc_path }}/{{ lxc_container_name }}/rootfs/etc/sudoers.d/{{ lxc_system_user }}"
    content: "{{ lxc_system_user }} ALL=(ALL) NOPASSWD: ALL"
    owner: root
    group: root
    mode: '0640'
  when: lxc_container_exists|bool
  delegate_to: "{{ lxc_host }}"

- name: for {{ lxc_system_user }} ssh folder fix owner
  command: >
    lxc-attach -n {{ lxc_container_name }} --  chown -R {{ lxc_system_user }}: /home/{{ lxc_system_user }}
  delegate_to: "{{ lxc_host }}"
  when: lxc_container_exists|bool

- name: Template constaner autostart
  when: lxc_container_autostart|bool
  delegate_to: "{{ lxc_host }}"
  template: src=lxc_container_systemd_service.j2 dest="/etc/systemd/system/lxc-{{ lxc_container_name }}.service" backup=yes


- name: Start service httpd, if not started
  when: lxc_container_autostart|bool
  delegate_to: "{{ lxc_host }}"
  systemd_service:
    name: "lxc-{{ lxc_container_name }}.service"
    enabled: true
    daemon_reload: true

