# LXC configuration file
# this file contains default conf for lxc

# lxc.net.0.type = veth
# lxc.net.0.link = lxcbr0
# lxc.net.0.flags = up

lxc.apparmor.profile = generated
lxc.apparmor.allow_nesting = 1

{% for net in lxc_host_default_nets %}
lxc.net.{{ loop.index0 }}.type  = {{ net.type }}
lxc.net.{{ loop.index0 }}.link  = {{ net.link }}
lxc.net.{{ loop.index0 }}.flags = {{ net.flags }}
lxc.net.{{ loop.index0 }}.name  = {{ net.name }}

{% endfor %}
